body {
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  color: #071C4D;
}

.hero {
  height: 450px;
  background-image: url('../images/header.png');
  background-position: center;
  background-size: width;
  background-repeat: no-repeat;
  position: relative;
}
